body {
    font-family: "Trebuchet MS", sans-serif;
    margin: 0;
    background-color: #f5ecf8;
    color: #6e2a73;
    background-image: url("assets/backgroung_image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

p {
    font-size: 20px;
}

.corner-img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    height: auto;
}

.icon {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 8px;
}

.block {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.block img {
    width: 300px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.text {
    max-width: 600px;
}

.obra {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.obra img {
    width: 300px;
    height: auto;
    flex-shrink: 0;
}

.obra-texto {
    max-width: 500px;
}


header,
footer {
    background-color: #D7B0E8;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a {
    margin: 0 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
}

nav a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.main-content {
    flex: 2;
    max-width: 1000px;
    margin: 0 auto;
}

.content-section {
    display: none;
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content-section.active {
    display: block;
}

aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

aside section {
    background-color: #FAEAFE;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(85, 37, 98, 0.1);
}

footer {
    background-color: #D7B0E8;
    color: white;
    text-align: center;
    padding: 25px;
}