body {
    font-family: "Trebuchet MS", sans-serif;
    margin: 0;
    background-color: #f5ecf8;
    color: #6e2a73;
    background-image: url("assets/backgroung_image.png");
    background-position: center;
}

p {
    font-size: 20px;
}

.corner-img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    height: auto;
}

.icon {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 8px;
}

.obra-img {
    width: 90%;
    margin-bottom: 5%;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    min-width: 160px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    z-index: 100;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    cursor: pointer;
    color: #D7B0E8;
    /* violeta que combine */
    font-weight: 500;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

header,
footer {
    background-color: #D7B0E8;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

nav a {
    margin: 0 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
}

nav a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.main-content {
    flex: 2;
    max-width: 1000px;
    margin: 0 auto;
}

.content-section {
    display: none;
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content-section.active {
    display: block;
}

aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

aside section {
    background-color: #FAEAFE;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(85, 37, 98, 0.1);
}

footer {
    background-color: #D7B0E8;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 25px;
}